<!doctype html>

<html lang="de">
    <head>
        <title>SimpleKoch</title>
        <meta name="description" content="Simpleres und schnelleres Frontend für chefkoch.de">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
<style>
body {
    background-color: #FFFFFF;
    color: #292529;
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
}

img {
    padding: 5px;
    width: 250px;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #101316;
        color: #ccc;
    }

    a:visited {
        color: #9759f6;
        text-decoration: none;
    }

    a {
        color: #599bf6;
        text-decoration: none;
    }
}
</style>


    <body>
        <h1>{{ .Title }}</h1>

        <img src="{{ .ImageURI }}" alt="{{ .Title }}" width="600" max-height="500">
        <p>{{ .Description }}</p>

        <p><strong>Bewertung:</strong> {{ .RatingsAverage }} {{ .Ratings }}</p>
        <p><strong>Vorbereitungszeit:</strong> {{ .Preptime }}</p>
        <p><strong>Schwierigkeit:</strong> {{ .Difficulty }}</p>
        <p><strong>Datum:</strong> {{ .Date }}</p>

        <h2>Zutaten</h2>
        <hr>

        {{ range .Ingredients }}
            <h3>{{ .Title }}</h3>
            <ul>
                {{ range .Ingredients }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
        
        {{ end }}

        <h2>Zubereitung</h2>
        <hr>

        <p>{{ .Instructions }}</p>
    </body>
</html>
