<!doctype html>

<html lang="de">
    <head>
        <title>SimpleKoch - Suche</title>
        <meta name="description" content="Simpleres und schnelleres Frontend für chefkoch.de">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>

<style>
body {
    background-color: #FFFFFF;
    color: #292529;
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
}

img {
    padding: 5px;
    width: 250px;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #101316;
        color: #ccc;
    }

    a:visited {
        color: #9759f6;
        text-decoration: none;
    }

    a {
        color: #599bf6;
        text-decoration: none;
    }
}
</style>

    <body>
        <h1>Ergebnisse</h1>
        {{ range . }}
            <h2><a href="{{ .URI }}">{{ .Title }}</a></h2>
            <img src="{{ .ImageURI }}" width="300">
            <hr>
        {{ end }}
    </body>
</html>
